body{
     font-family: 'Sansita Swashed', cursive;
     background:rgb(4, 45, 58);

}

h1 {
    color: white;
    text-align: center;
}

.clock{
    position: relative;
}
.clock-face{

    width:40vw;
    height:40vw;
    margin: auto;
    border: 10px solid rgb(95, 232, 236);
    border-radius:50%;
    position:relative;
}

.hand{
   width: 50%;
   height: 5px;
   background: black;
   position: absolute;
   top: 50%;
   transform: rotate(90deg); /*to position at 12  o'clock*/
   transform-origin: 100%; /*To change origin to middle*/
   transition: all 0.5s;
}

@media only screen and (max-width:600px){
    .clock-face{
        width: 70vw;
        height: 50vh;

    }
}